body, #top, #top-inside, #bsi-addmin-text, .top-link, #container, #footer, .clr{ margin:0; padding:0; border:0; display:block; font:12px normal Tahoma, Geneva, sans-serif; }

.clr{ width:100%;}

body{ background:url(../images/resortimg2.jpg) top center;
background-position: absolute;
background-repeat: no-repeat;
background-size: cover;
background-attachment:fixed;
}

#top{ width:100%; height:40px; background-color:#0BB5FF;}

#top-inside{ width:960px; height:40px; margin: 0 auto;}

#bsi-addmin-text{ width:300px; color:#fff; font: bold 16px Tahoma, Geneva, sans-serif; margin-top:10px; float:left;}

.top-link{ padding-right:20px; text-align: right; font:15px normal Tahoma, Geneva, sans-serif; float:right; display:block; margin-top:14px;}

.top-link a{ text-decoration:none; color:#000000;}

.top-link a:hover{text-decoration:none; color:#bbbbbb;}



.top-link_last{ padding:0 2px; text-align: right; font:15px normal Tahoma, Geneva, sans-serif; float:right; display:block; margin-top:14px;}

.top-link_last a{ text-decoration:none; color:#000000;}

.top-link_last a:hover{text-decoration:none; color:#bbbbbb;}

#con{ width:100%; float:left;}

#container{ width:960px; margin:0 auto;}

#logo{ width:100%; height:90px; float:left;}

#title{ width:100%; height:50px; float:left;}

#title h1{ font:26px normal Verdana, Geneva, sans-serif; margin:8px 0 0 20px; color:#888;}

#contain{ width:100%; float:left;

filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BBFFFF', endColorstr='#505050'); /* for IE */

background: -webkit-gradient(linear, left top, left bottom, from(#BBFFFF), to(#104E8B)); /* for webkit browsers */

background: -moz-linear-gradient(top,  #BBFFFF,  #39B7DC); /* for firefox 3.6+ */ 

}

#container-inside{ width:940px; min-height:400px; height:auto; float:left;  padding:10px;}

#menu{ width:100%; height:30px; float:left;}



#footer{ width:960px; height:20px; margin:0 auto; font:11px normal Verdana, Geneva, sans-serif; color:#ccc; margin-top:15px;}

.fl-left{ float:left;}

.fl-right{ float:right;}

a{
	color:#50A6C2;
	text-decoration:none;
}

a:hover{
	color:#67E6EC;
	text-decoration:none;
}

.chart-holder, .filter-holder {
	width: 100%;
	display: flex;
	padding-left: 15px;
	padding-right: 15px;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}
.filter-holder {
	padding-top: 20px;
}
.filter-holder form {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.filter-holder form .form-group {
	display: flex;
	align-items: center;
	margin-right: 5px;
}
.filter-holder form .form-group .form-control {
	margin-bottom: 0;
	width: 100px;
}
.chart-holder {
	margin-bottom: 10px;
}
.chart-holder .chart-holder__canvas  {
	width: 100%;
	background-color: #343b3e;
}
.chart-holder .chart-holder__canvas .chart-holder__canvas--header {
	padding: 10px 15px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
} 
.chart-holder .chart-holder__canvas canvas {
	width: 100%;
}
.chart-holder .chart-holder-panels {
	width: 25%;
	padding: 0 15px;
}
.chart-holder .chart-holder-panels:first-child {
	padding-left: 0;
}
.chart-holder .chart-holder-panels:last-child {
	padding-right: 0;
}
.chart-holder .chart-holder-panels .chart-holder-panels__holder  {
	background-color: #343b3e;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px;
}
.chart-holder .chart-holder-panels .chart-holder-panels__holder .chart-holder-panels__holder--icon {
	font-size: 30px;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.chart-holder .chart-holder-panels .chart-holder-panels__holder .chart-holder-panels__holder--detail {
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
}
.chart-holder .chart-holder-panels .chart-holder-panels__holder .chart-holder-panels__holder--detail span {
	font-size: 10px;
	color: #aeaeae;
	margin-bottom: 5px;
}
.chart-holder .chart-holder-panels .chart-holder-panels__holder .chart-holder-panels__holder--detail span:nth-child(2) {
	font-weight: bold;
}
.chart-holder .chart-holder-panels .chart-holder-panels__holder .chart-holder-panels__holder--detail span:first-child {
	font-weight: bold;
	font-size: 40px;
}
.panel-success .chart-holder-panels__holder--icon,
.panel-success .chart-holder-panels__holder--detail span:nth-child(2),
.panel-success .chart-holder-panels__holder--detail span:nth-child(1)
{
	color: #49caca !important;
}
.panel-danger .chart-holder-panels__holder--icon,
.panel-danger .chart-holder-panels__holder--detail span:nth-child(2),
.panel-danger .chart-holder-panels__holder--detail span:nth-child(1)
{
	color: #ca4949 !important;
}

.dataTables_filter {
	width: 184px !important;
}
.dataTables_wrapper .ui-widget-header select {
	width: 52px !important;
}